In [84]:
import pandas as pd
# Import the file: academy_awards.csv, encoding ISO-8859-1 
acad_awards = pd.read_csv("academy_awards.csv", encoding = "ISO-8859-1")
# Review the first few rows for data issues
acad_awards.head(4)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
# Run value_counts on unnamed columns to look for data we need
acad_awards['Unnamed: 5'].value_counts()

*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [86]:
acad_awards['Unnamed: 6'].value_counts()

*                                                                   9
 sympathetic                                                        1
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
Name: Unnamed: 6, dtype: int64

In [87]:
acad_awards['Unnamed: 7'].value_counts()

*                                                     1
 while requiring no dangerous solvents. [Systems]"    1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

In [88]:
acad_awards['Unnamed: 8'].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [89]:
acad_awards['Unnamed: 9'].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [90]:
acad_awards['Unnamed: 10'].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

No data needed from unnamed columns. Additional info column should be cleaned up. The data in the {} is the character the nominee played.

In [91]:
# Filtering the Data
# Clean up Year column to have only first 4 elements in string
acad_awards["Year"] = acad_awards["Year"].str[0:4]
# Convert Year type to int64
acad_awards["Year"] =acad_awards["Year"].astype(int)

In [92]:
# Filter for Year is later than 2000
later_than_2000 = acad_awards[acad_awards['Year']> 2000]

In [93]:
# Filter for Actor -- Leading Role, Actor -- Supporting Role, Actress -- Leading Role, Actress -- Supporting Role
award_categories = ["Actor -- Leading Role", "Actor -- Supporting Role", "Actress -- Leading Role", "Actress -- Supporting Role"]
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [94]:
# Clean up the Won? column
# First change all NO values with 0 and YES values with 1
replace_dict = { "YES": 1, "NO": 0 }
nominations["Won?"] = nominations["Won?"].map(replace_dict)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [95]:
nominations.head(20)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},1,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},0,NaN,NaN,NaN,NaN,NaN,NaN
7,2010,Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},0,NaN,NaN,NaN,NaN,NaN,NaN
8,2010,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},0,NaN,NaN,NaN,NaN,NaN,NaN
9,2010,Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},0,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},0,NaN,NaN,NaN,NaN,NaN,NaN
11,2010,Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},0,NaN,NaN,NaN,NaN,NaN,NaN
12,2010,Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},0,NaN,NaN,NaN,NaN,NaN,NaN
13,2010,Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},1,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},0,NaN,NaN,NaN,NaN,NaN,NaN
15,2010,Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},0,NaN,NaN,NaN,NaN,NaN,NaN
16,2010,Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},0,NaN,NaN,NaN,NaN,NaN,NaN
17,2010,Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},1,NaN,NaN,NaN,NaN,NaN,NaN
18,2010,Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},0,NaN,NaN,NaN,NaN,NaN,NaN
19,2010,Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},0,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
#Create new column Won from Won?
nominations["Won"] = nominations["Won?"]

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [97]:
# Drop the following columns: Won?, Unnamed: 5 - 10 
to_drop = ["Won?", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10" ]
nominations = nominations.drop(to_drop, axis=1)

# Assign the dataframe to final_nominations
final_nominations = nominations

In [98]:
# Cleaning up the Additional Info column
# Strip the '} from the Additional Info column
additional_info_one = final_nominations["Additional Info"].str.rstrip("'}")
# Split additional_info_one on " {"  to create a list with [movie,character]
additional_info_two = additional_info_one.str.split(" {'")
movie_names = additional_info_two.str[0]
characters = additional_info_two.str[1]
# Assign movie_names to the Movie column in final_nominations
final_nominations["Movie"] = movie_names
# Assign characters to the Character column in final_nominations
final_nominations["Character"] = characters

In [104]:
# Drop the Additional Info column 
final_nominations = final_nominations.drop("Additional Info", axis=1)

In [105]:
final_nominations.head(15)

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston
5,2010,Actor -- Supporting Role,Christian Bale,1,The Fighter,Dicky Eklund
6,2010,Actor -- Supporting Role,John Hawkes,0,Winter's Bone,Teardrop
7,2010,Actor -- Supporting Role,Jeremy Renner,0,The Town,James Coughlin
8,2010,Actor -- Supporting Role,Mark Ruffalo,0,The Kids Are All Right,Paul
9,2010,Actor -- Supporting Role,Geoffrey Rush,0,The King's Speech,Lionel Logue
10,2010,Actress -- Leading Role,Annette Bening,0,The Kids Are All Right,Nic
11,2010,Actress -- Leading Role,Nicole Kidman,0,Rabbit Hole,Becca
12,2010,Actress -- Leading Role,Jennifer Lawrence,0,Winter's Bone,Ree
13,2010,Actress -- Leading Role,Natalie Portman,1,Black Swan,Nina Sayers/The Swan Queen
14,2010,Actress -- Leading Role,Michelle Williams,0,Blue Valentine,Cindy

In [107]:
# Exporting To SQLite
import sqlite3
conn = sqlite3.connect("nominations.db")
final_nominations.to_sql("nominations", conn, index = False)

In [ ]:
# Verify the table_info
query_tableinfo = "pragma table_info(nominations);"
print(conn.execute(query_tableinfo).fetchall())
# Check the table has data in i
query_data = "select * from nominations limit 10;"
print(conn.execute(query_data).fetchall())
conn.close()